[Unit]
Description=Resource Usage

[Service]
User=safe
ExecStart=/home/safe/resource-usage.sh
StandardOutput=file:/home/safe/.local/share/safe/node/resource-usage.log
StandardError=inherit
NetworkAccess=yes

[Install]
WantedBy=multi-user.target
