[Unit]
Description=Safe Node %I

[Service]
{% if is_genesis %}
ExecStart={{ node_archive_dest_path }}/safenode \
  --log-output-dest data-dir \
  --port {{ node_port }} \
  --rpc {{ node_rpc_ip }}:{{ node_rpc_port }}
{% else %}
ExecStart={{ node_archive_dest_path }}/safenode \
  --log-output-dest data-dir \
  --peer {{ genesis_multiaddr }}
{% endif %}
Environment=RUST_LOG={{ rust_log_setting }} \
  RUST_LOG_OTLP={{ rust_log_otlp_setting }} \
  OTLP_SERVICE_NAME={{ instance_name }}-%I \
  OTEL_EXPORTER_OTLP_ENDPOINT={{ otlp_endpoint }}
User=safe

[Install]
WantedBy=multi-user.target
