export DO_PAT=dop_v1_3df57987557d99f9d284ab81aee62aa34bc915d164d3049e5973ae076c61759a
export AWS_ACCESS_KEY_ID=AKIAVVODCRMSPXLDBMD3
export AWS_SECRET_ACCESS_KEY=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
export AWS_DEFAULT_REGION=eu-west-2