ip-list
*-client-ip
*-ip-list
genesis-ip
genesis-dbc
genesis-key
*-genesis-ip
*-genesis-dbc
*-genesis-key
elders-ip-list
adults-ip-list
doctl*
*logs/*
*connection-infos/*
data/*
*-network-contacts
*.zip
files/*
addresses/*

# IDE
.idea/
.vscode/

test-data

#dont sotre any env vars with passes etc
*.env
*.envrc

# incase of uploading the node itself from this folder, lets keep it out of git
sn_node
safe
*.log
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.tfplan

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

jq

memory-profiling
