input {
  file {
    path => "/home/safe/.local/share/safe/node/**/safenode.log"
    start_position => "beginning"
    sincedb_path => "/var/lib/logstash/sincedb"
    type => "safenode-log"
  }

  file {
    path => "/home/safe/.local/share/safe/node/resource-usage.log"
    start_position => "beginning"
    sincedb_path => "/var/lib/logstash/sincedb"
    type => "resource-usage-log"
  }
}

filter {
  if [type] == "resource-usage-log" {
    grok {
      match => { "[log][file][path]" => ".*/(?<filename>[^/]*)$" }
    }
  }
  if [type] == "safenode-log" {
    grok {
      match => { "[log][file][path]" => "/home/safe/.local/share/safe/node/%{GREEDYDATA:filename}" }
    }
  }
}

output {
  if [type] == "resource-usage-log" {
    s3 {
      access_key_id => "{{ aws_access_key_id }}"
      secret_access_key => "{{ aws_secret_access_key }}"
      region => "{{ aws_region }}"
      bucket => "{{ aws_bucket }}"
      canned_acl => "public-read"
      time_file => 10
      rotation_strategy => "time"
      prefix => "testnet-logs/{{ testnet_name }}/%{[host][name]}/%{filename}"
      codec => plain
    }
  }
  if [type] == "safenode-log" {
    s3 {
      access_key_id => "{{ aws_access_key_id }}"
      secret_access_key => "{{ aws_secret_access_key }}"
      region => "{{ aws_region }}"
      bucket => "{{ aws_bucket }}"
      canned_acl => "public-read"
      time_file => 10
      rotation_strategy => "time"
      prefix => "testnet-logs/{{ testnet_name }}/%{[host][name]}/%{filename}"
      codec => plain
    }
  }
}
